.idea/
public/temporary/
public/temporary/*
public/images/avatar/
public/images/avatar/*
public/pdata/
public/pdata/*
.DS_Store
error_log

public/js/app.js
public/js/app.js.gz
public/js/dev.js

public/css/*

.sass-cache/
.sass-cache/*
.sass-cache/
.sass-cache/*

