.idea/
public/temporary/
public/temporary/*
public/images/avatar/
public/images/avatar/*
public/pdata/
public/pdata/*
.DS_Store
error_log

public/js/*.js
public/js/*.gz

public/css/*.css
public/css/comic/*.css
public/css/*.gz
public/css/comic/*.gz

.sass-cache/
.sass-cache/*
.sass-cache/
.sass-cache/*
Gemfile.lock
.elasticbeanstalk/
